<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.lanternpowered.launch.console">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%logger{1}]%fqcn{ [%path]}: %msg%n"/>
        </Console>
        <Console name="DefaultConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]%fqcn{ [%path]}: %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <!-- The last regex is used to strip all the color codes from the message. -->
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level]: %replace{%msg}{(?i)\u00A7[0-9A-FK-OR]}{}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <!-- Log server messages without prefix. -->
        <Logger name="LanternServer" level="all" additivity="false">
            <AppenderRef ref="DefaultConsole" level="info"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="Minecraft" level="all" additivity="false">
            <AppenderRef ref="DefaultConsole" level="info"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="STDOUT" level="all" additivity="false">
            <AppenderRef ref="DefaultConsole" level="info"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="STDERR" level="all" additivity="false">
            <AppenderRef ref="DefaultConsole" level="info"/>
            <AppenderRef ref="File"/>
        </Logger>
        <!-- Log all other messages with prefix. -->
        <Root level="all">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
